@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html, body, #root, #root>div{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: rgba(229, 231, 235, 1);
}

.swal2-shown.swal2-height-auto{
    height: 100vh !important;
}
